<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OnlineShopDbContext" connectionString="data source=TuoiLV;initial catalog=manageuser_01_lucvantien;persist security info=True;user id=sa;password=LVTdeveloper1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>